@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: 'League Spartan';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0px;
  background-color: #f8f8ff;
  overflow: hidden;

}

header {
  text-align: center;
  padding: 20px 0 10px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  display: inline-block;
  color: #707070;
  text-align: center;
  margin: 0;
  margin-left: -120px;
  font-size: 50px;
  flex-grow: 1;
}

.logo-header {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 20px;
  padding-top: 150px;
}

footer img {
  padding-top: 50px;
}

.button {
  width: 250px;
  height: 250px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 50);
}



@media only screen and (max-width: 1290px) {
 
  .logo-header{
    width: 80px;
  }

  header h1 {
    font-size: 30px;
    margin-left: -10px;
  }

  footer img {
    padding-top: 10px;
  }

  .button {
    width: 150px;
    height: 150px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding-top: 180px;
  }

  footer img {
    padding-top: 100px;
  }
}


@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
 
  .logo-header{
    width: 50px;
  }

  header h1 {
    font-size: 30px;
    margin-left: -10px;
  }

  footer img {
    padding-top: 10px;
  }

  .button {
    width: 150px;
    height: 150px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding-top: 180px;
  }

  footer img {
    padding-top: 100px;
  }
}


.button:nth-child(1) {
  background-color: #0A6474;
}

.button:nth-child(2) {
  background-color: #0A6474;
}

.button:nth-child(3) {
  background-color: #0A6474;
}

.button:nth-child(4) {
  background-color: #0A6474;
}

.button:nth-child(5) {
  background-color: #0A6474;
}

.button:nth-child(6) {
  background-color: #0A6474;
}

.button:nth-child(7) {
  background-color: #0A6474;
}

.button:nth-child(8) {
  background-color: #0A6474;
}

/* Adicione uma consulta de mídia para ajustar os estilos em telas menores */
